$yonderColor: #E34930;
$twitterColor: #4099FF;
$accessibleColor: blue;
$fsbrownColor: rgba(46, 30, 18, 1);
$fsgreenColor: #076727;
$mapnavbackground:rgba(255,255,255,.9);
$facebookColor: #3b5998;
.fsbrown {
    color: $fsbrownColor;
}
.fsgreen {
    color: $fsgreenColor;
}
.yonder {
    color: $yonderColor;
}
.twitter {
    color: $twitterColor;
}
.blueIcon {
    color: $accessibleColor;
}
.facebook {
    color: $facebookColor;
}