/* BEGIN PDF/PRINT */

.btn-success {
    //color: #ffffff;
    //background-color: transparent;
    //border-color:transparent;
}

ul {
    -webkit-padding-start: 0;
}

#pdfModal header {

    background-image: url(../images/header-print.jpg);
    background-position: center;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.pdf-form-control {
    margin-bottom: 15px;
}
.pdfNotes {
    height: 100px;
}
div.pdf-modal-body {
    padding: 15px;
}
/* BEGIN PDF/PRINT */
/* line 2, _pdf-print.scss */
ul {
  -webkit-padding-start: 0;
}

/* line 6, _pdf-print.scss */
.tk-radio-button-minus-filled {
  position: relative;
  top: 2px;
}

/* END PDF/PRINT  */
/* Scss Document */
/* line 3, _modals.scss */
img.rotating.processing {
  width: 20px;
  height: 20px; // added 042816 to fix rotating icon being squashed in IE TK
}

/* line 6, _modals.scss */
.viewPDF {
  position: relative;
  top: 2px;
}

// New rotating code generated TK 042816 - this one works on ipad! Fix for bug item #3890
.rotating {
-webkit-animation: cssAnimation 2.5s infinite linear;
-moz-animation: cssAnimation 2.5s infinite linear ;
-o-animation: cssAnimation 2.5s infinite linear;
-ms-animation: cssAnimation 2.5s infinite linear;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
@-ms-keyframes cssAnimation {
from { -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -ms-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}



/* end rotate  */
/* END PDF/PRINT  */