/* BEGIN ZOOM BUTTONS */

/* lets try to fix up the esri zoom buttons if Koala will update this file  */

#map_zoom_slider {
  width: 33px !important;
  z-index: 30;
  background-color: white;
  border-radius: 0;
    border: none !important;
}


.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton {
  //width:33px;
  border-radius: 0;
  border: none !important;
  border-bottom: none !important;
}
.esriSimpleSliderDecrementButton:hover, .esriSimpleSliderIncrementButton:hover
 {
    background-color: #eee;
    width:33px;
    border-radius: 0;
     padding-right: 3px;
}

.esriSimpleSlider {
    position: absolute;
    text-align: center;
    border: none;
    background-color: #FFF;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    width: 33px;
}

.zoomButtons {
    background-color: white;
    filter: none !important;
    border: none;
}
.locateMe {
    margin-top: 6px;
    width: 33px !important;
    height: 33px;
    padding: 8px;
}
.locateMe:hover {
    background-color: #eee;
}
.zoom {
    position: fixed !important;
    right: 20px;
    z-index: 31;
    width: 33px;
}


/**************** SIDEBAR MOBILE *******************/
@media (max-width: 465px){
  
  .esriSimpleSliderTL {
      bottom: 15px;
      left: auto;
      right: 20px;
      top: initial;
  }
  
  .zoom {
      bottom: 80px;
  }
}

@media (min-width: 465px) {
/*  Locate Me And Zoom Buttons*/

  .esriSimpleSliderTL {
    top: 50px;
    left: auto;
    right: 20px;
  }
  .zoom {
    top: 115px; /* overrides Tonys style.css settings */
  }
}