<!-- Modal Identify   -->
<!------
	Maybe following documents for good ways to pull this off. ******************************************************
	http://weblogs.asp.net/dwahlin/building-an-angularjs-modal-service
	https://github.com/DanWahlin/CustomerManager
	http://www.bennadel.com/blog/2744-exposing-a-service-directly-on-the-scope-in-angularjs.htm
-->
<div id="identifyMobile" class="modal-body identify-modal-body">
	<div class="identify-header">
    	<h4 class="identify-title" id="identifyTitle">{{identifyData.title}}</h4>
      	<button type="button" class="close" ng-click="cancel()">
            <i class="tk-close-1"></i>
      	</button>
  	</div>
    <br>
	<div id="identifyTabs" idcontentctrl></div>
</div>


<!-- Modal Identify END -->
