<!-- Modal EXPLORE - ACTIVITIES  Note: The next div used to have role=alert, but it was forcing the button text to be fully read at startup, and in bad order -->
<div class="featurewidth text-center" aria-label="Explore" >
	<header>
        <h2 class="h3 text-center" id="tourstopone" aria-label="Explore">Explore</h2>
	</header>
    <button id="btnExploreClose" class="navClose" aria-role="button" title="Close the Explore dialog" ng-click="cancel()">
        <i class="tk-close-1"></i>
        <span class="sr-only">Close the Explore dialog</span>
    </button>
        
	<div explorecontentctrl></div>                
</div> 
