<!-- Layers Modal -->
<!-- div class="modal fade" id="layersModal" tabindex="-1" role="dialog" aria-labelledby="layersModalLabel" aria-hidden="true"  -->
  <!-- div class="modal-dialog" -->
    <!-- div class="modal-content"-->
    <div id="layersModal" >
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
        	<i class="tk-close"></i>
        </button>
        <h4 class="modal-title" id="myModalLabel"><i class="tk-umbrella tk-font-24"></i>Other Map Layers</h4>
      </div>
      <div class="modal-body layersModal">
        <ul>
          <li>
            <div  class="col-sm-12 pad" data-toggle="buttons">
              <label class="btn btn-xs btn-success active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                <i class="tk-checkbox-checked tk-font-16"></i> <i class="tk-tree tk-forest"></i> <span class="menuBox">Featured Areas</span></label>
              <label class="btn btn-xs btn-default">
                <input type="radio" name="options" id="option2" autocomplete="off">
                <i class="tk-checkbox-unchecked tk-font-16"></i> <i class="tk-tree tk-forest"></i> <span class="menuBox">Featured Areas</span></label>
            </div>
            <div  class="col-sm-12 pad" data-toggle="buttons">
              <label class="btn btn-xs btn-success active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                <i class="tk-checkbox-checked tk-font-16"></i> <i class="tk-umbrella tk-forest"></i> <span class="menuBox">Weather</span></label>
              <label class="btn btn-xs btn-default">
                <input type="radio" name="options" id="option2" autocomplete="off">
                <i class="tk-checkbox-unchecked tk-font-16"></i> <i class="tk-umbrella tk-forest"></i> <span class="menuBox">Weather</span></label>
            </div>
            <div  class="col-sm-12 pad" data-toggle="buttons">
              <label class="btn btn-xs btn-success active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                <i class="tk-checkbox-checked tk-font-16" style="back"></i> <i class="tk-twitter tk-forest color-twitter"></i> <span class="menuBox">Forest Service Twitter</span></label>
              <label class="btn btn-xs btn-default">
                <input type="radio" name="options" id="option2" autocomplete="off">
                <i class="tk-checkbox-unchecked tk-font-16"></i> <i class="tk-twitter tk-forest color-twitter"></i> <span class="menuBox">Forest Service Twitter</span></label>
            </div>
            <div  class="col-sm-12 pad" data-toggle="buttons">
              <label class="btn btn-xs btn-success active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                <i class="tk-checkbox-checked tk-font-16"></i> <i class="tk-yonder tk-forest"></i> <span class="menuBox">Yonder</span></label>
              <label class="btn btn-xs btn-default">
                <input type="radio" name="options" id="option2" autocomplete="off">
                <i class="tk-checkbox-unchecked tk-font-16"></i> <i class="tk-yonder tk-forest"></i> <span class="menuBox">Yonder</span></label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <!-- div -->
<!--div -->
<!-- Modal layers END -->
